body{
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: sans-serif;
	background-color: #f4f4f4;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header{
	background: linear-gradient(#960083, #ec1063);
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 3px solid #ec1063;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

ul{
	margin: 0;
	padding: 0;
}

header #branding, header .active a{
	color: #fff;
	font-weight: bold;
}

header a:hover{
	color: #960083;
	font-weight: bold;
}

#showcase{
	min-height: 400px;
	text-align: center;
	color: #ec1063;
}

#showcase h1{
	margin-top: 120px;
	font-size: 55px;
	margin-bottom: 10px;
	text-shadow: 2px 2px 5px #960083;
}

#showcase p{
	font-size: 20px;
}

#newsletter1{
	padding: 15px;
	color: #fff;
	background: linear-gradient(#ec1063, #960083);
}

#newsletter1 h1{
	float: left;
}

#newsletter1 form{
	float: right;
	margin-top: 15px;
}

#newsletter1 input[type="lirik"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

#newsletter2{
	padding: 15px;
	color: #fff;
	background: linear-gradient(#ec1063, #960083);
}

#newsletter2 h1{
	float: left;
}

#newsletter2 form{
	float: right;
	margin-top: 15px;
}

#newsletter2 input[type="lagu"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

.buttonsubs{
	height: 38px;
	background-color: #ec1063;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
}

#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#boxes .box img{
	width: 200px;
}

#boxeslirik{
	margin-top: 20px;
}

#boxeslirik .boxlirik{
	float: center;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#boxeslirik .boxlirik img{
	width: 200px;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background: linear-gradient(#960083, #ec1063);
	text-align: center;
}

@media(max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	#newsletter1 h1,
	#newsletter1 form
	#newsletter2 h1,
	#newsletter2 form
	#boxes .box
	#boxeslirik .boxlirik
	{
		float: none;
		text-align: center;
		width: 100%;
	}
	
	header{
		padding-bottom: 20px;
	}
	
	#showcase h1{
		margin-top: 40px;
	}
	
	#newsletter button{
		display: block;
		width: 100%;
	}
	
	#newsletter1 input[type="lirik"]{
		margin-bottom: 5px;
		width: 100%;
	}
	
	#newsletter2 input[type="lagu"]{
		margin-bottom: 5px;
		width: 100%;
	}
}
